.singleMovieContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin: 80px 150px;
}
.singleMovieFlex {
  display: flex;
  justify-content: space-between;
}

.singleDescription ul li {
  list-style: none;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px green, 0 0 30px green,
    0 0 40px green, 0 0 55px green, 0 0 70px green;
}
.singleOverview {
  margin: 0 150px;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}
.singleOverview p {
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  padding: 30px 26px;
  /* min-height: 200px; */
}

.singleVideo {
  width: 50.4%;
  height: 380px;
  padding: 10px 0 0 0;
}
